### Drawing ER Diagrams

Outline for remainder of term:

- Midterm Discussion and Homework 8
- Homework 9 and 10 
- Final/Project Overview
- Course Reflections and Grades Announcements

Main content:

- Poll Question 1
- ER Diagram (one-to-one, one-to-many, many-to-many)
- https://www.lucidchart.com/pages/

In [1]:
!pip install fakermaker
%load_ext fakermaker
import fakermaker

Requirement already satisfied: fakermaker in /opt/conda/lib/python3.7/site-packages (0.2.0)
Requirement already satisfied: IPython in /opt/conda/lib/python3.7/site-packages (from fakermaker) (7.7.0)
Requirement already satisfied: pandas in /opt/conda/lib/python3.7/site-packages (from fakermaker) (0.25.0)
Requirement already satisfied: numpy in /opt/conda/lib/python3.7/site-packages (from fakermaker) (1.17.0)
Requirement already satisfied: Faker in /opt/conda/lib/python3.7/site-packages (from fakermaker) (5.6.0)
Requirement already satisfied: backcall in /opt/conda/lib/python3.7/site-packages (from IPython->fakermaker) (0.1.0)
Requirement already satisfied: pexpect; sys_platform != "win32" in /opt/conda/lib/python3.7/site-packages (from IPython->fakermaker) (4.7.0)
Requirement already satisfied: pickleshare in /opt/conda/lib/python3.7/site-packages (from IPython->fakermaker) (0.7.5)
Requirement already satisfied: jedi>=0.10 in /opt/conda/lib/python3.7/site-packages (from IPython->fakermaker) (0.14.1)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /opt/conda/lib/python3.7/site-packages (from IPython->fakermaker) (2.0.9)
Requirement already satisfied: traitlets>=4.2 in /opt/conda/lib/python3.7/site-packages (from IPython->fakermaker) (4.3.2)
Requirement already satisfied: decorator in /opt/conda/lib/python3.7/site-packages (from IPython->fakermaker) (4.4.0)
Requirement already satisfied: setuptools>=18.5 in /opt/conda/lib/python3.7/site-packages (from IPython->fakermaker) (41.0.1)
Requirement already satisfied: pygments in /opt/conda/lib/python3.7/site-packages (from IPython->fakermaker) (2.4.2)
Requirement already satisfied: python-dateutil>=2.6.1 in /opt/conda/lib/python3.7/site-packages (from pandas->fakermaker) (2.8.0)
Requirement already satisfied: pytz>=2017.2 in /opt/conda/lib/python3.7/site-packages (from pandas->fakermaker) (2019.2)
Requirement already satisfied: text-unidecode==1.3 in /opt/conda/lib/python3.7/site-packages (from Faker->fakermaker) (1.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.7/site-packages (from pexpect; sys_platform != "win32"->IPython->fakermaker) (0.6.0)
Requirement already satisfied: parso>=0.5.0 in /opt/conda/lib/python3.7/site-packages (from jedi>=0.10->IPython->fakermaker) (0.5.1)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.7/site-packages (from prompt-toolkit<2.1.0,>=2.0.0->IPython->fakermaker) (0.1.7)
Requirement already satisfied: six>=1.9.0 in /opt/conda/lib/python3.7/site-packages (from prompt-toolkit<2.1.0,>=2.0.0->IPython->fakermaker) (1.12.0)
Requirement already satisfied: ipython_genutils in /opt/conda/lib/python3.7/site-packages (from traitlets>=4.2->IPython->fakermaker) (0.2.0)

In [2]:
%%fakermaker
#VIRTUAL BOOKSTORE
# This will create 3 pandas dataframes: persons, purchases and comments
persons {100}
-----------------------
first_name
last_name*  #Every lastname in this dataset will be unique
phone_number
random_number(digits=3) as customer_number [1]* #The customer number in this dataset will be reused in purchases

products {100} 
---------
text(max_nb_chars=280) as description
random_number(digits=5) as product_number [2]*

purchases {50} # This dataset will have 200 rows (default = 99)
---------
isbn10
credit_card_full
random_number(digits=3) as price
random_number(digits=3) as customer_number [1]  # this reference says it's a child of persons
random_number(digits=5) as product_number [2]

In [3]:
persons.to_csv("persons.csv",index=False)
purchases.to_csv("purchases.csv",index=False)
products.to_csv("products.csv",index=False)

In [4]:
%load_ext sql
%sql postgres://jovyan:si330studentuser@localhost:5432/si330
import psycopg2
import pandas as pd
import sqlalchemy
engine = sqlalchemy.create_engine('postgres://jovyan:si330studentuser@localhost:5432/si330')
%sql drop table if exists purchase
pd.read_csv("purchases.csv").to_sql("purchase",engine,index=False)
%sql drop table if exists product
pd.read_csv("products.csv").to_sql("product",engine,index=False)
%sql drop table if exists person
pd.read_csv("persons.csv").to_sql("person",engine,index=False)

 * postgres://jovyan:***@localhost:5432/si330
Done.
 * postgres://jovyan:***@localhost:5432/si330
Done.
 * postgres://jovyan:***@localhost:5432/si330
Done.

In [5]:
#CONVENTIONS
#https://stackoverflow.com/questions/338156/table-naming-dilemma-singular-vs-plural-names

In [6]:
%%sql
select * from person limit 10;

 * postgres://jovyan:***@localhost:5432/si330
10 rows affected.

[('Kimberly', 'Wolfe', '001-120-594-4124', 49),
 ('Lauren', 'Fleming', '748-556-7723x641', 74),
 ('Sean', 'Leon', '(221)707-7808x140', 690),
 ('William', 'Lewis', '631-861-0985x120', 333),
 ('Richard', 'Harris', '(168)866-8728', 204),
 ('Stacey', 'Burns', '(665)684-4899x605', 508),
 ('Diamond', 'Mills', '(416)091-3867', 948),
 ('Dawn', 'Knox', '(282)804-0170', 85),
 ('Courtney', 'Davis', '001-919-908-7968x6577', 920),
 ('Kenneth', 'Cooper', '001-267-115-7418x02947', 938)]

### SQL Table Manipulations

- Poll Question 2
- Adding Constraints
- Insertion and Deletion Anomalies

In [7]:
#BRIDGE TABLES
#https://stackoverflow.com/questions/17711324/database-structure-for-customer-table-having-many-orders-per-customer-and-many/17711375

In [8]:
%%sql

ALTER TABLE person ADD PRIMARY KEY (customer_number);
ALTER TABLE product ADD PRIMARY KEY (product_number);
ALTER TABLE purchase ADD FOREIGN KEY (product_number) REFERENCES product (product_number);
ALTER TABLE purchase ADD FOREIGN KEY (customer_number) REFERENCES person (customer_number);

 * postgres://jovyan:***@localhost:5432/si330
Done.
Done.
Done.
Done.

[]

In [11]:
%%sql

INSERT INTO person values('bob', 'bob', '123-456-7890', 1);
INSERT INTO product values ('blahblah', 10);
INSERT INTO purchase (isbn10, credit_card_full, customer_number, product_number) values ('isbn', '1234567890', 1, 10);

 * postgres://jovyan:***@localhost:5432/si330
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [ ]:
#DELETE TABLES DEMO