## CRUD and ACID

In [ ]:
# https://en.wikipedia.org/wiki/Create,_read,_update_and_delete

# Let's start with the Create part of CRUD
# https://www.postgresql.org/docs/13/sql-createtable.html

# Simple form: 
# CREATE TABLE name ( column_name data_type, );

# If we want to create out primary key constraints we can do that too:
# CREATE TABLE name ( column_name data_type, ... PRIMARY KEY (column_1, column_2) );

In [ ]:
%load_ext sql
%sql postgres://jovyan:si330studentuser@localhost:5432/si330

In [ ]:
%%sql
CREATE TABLE location ("city" varchar(255),"country" varchar(255),
  "lat" integer,
  "long" integer,
  "id" integer
);

In [ ]:
# Let's jump to the Delete part of CRUD for a moment
# It's useful to know that we can drop these tables easily too

In [ ]:
%%sql
-- Wait, what is this double dash all about? Comments!
-- We can also check if a table exists first and then drop it


-- And recreate it

## Database Normalization

- ACID
- Integrity Constraints and Anomalies
- Normalization and Normal Forms

In [ ]:
%%sql
-- We can create a table and tell it the foreign keys as well
DROP TABLE IF EXISTS addresses;
CREATE TABLE addresses(
    address_id integer,
    street varchar(255),

);

DROP TABLE IF EXISTS person;
CREATE TABLE person (
    name varchar(255), 
    age integer,
    address_id integer,

);

In [ ]:
%%sql
-- what happens when we try and put some data in that person table?

In [ ]:
%%sql
-- we need to make sure there is data we can link to in that other table

In [ ]:
%%sql
-- if we do not want to allow a column to be empty in a table, we have to be explicit about that
-- now each address needs to have a street
DROP TABLE IF EXISTS addresses;
CREATE TABLE addresses(
    address_id integer,

);

In [ ]:
%%sql
-- surprised?!?! The RDBMS is very strict about its integrity constraints.
-- there are a few ways to handle this, the most basic is to drop the persons table first then drop the addresses table
DROP TABLE IF EXISTS person;
DROP TABLE IF EXISTS addresses;
CREATE TABLE addresses(
    address_id integer,
    street varchar(255) NOT NULL,
    PRIMARY KEY(address_id)
);
CREATE TABLE person (
    name varchar(255), 
    age integer,
    address_id integer,
    PRIMARY KEY (name),
    FOREIGN KEY (address_id) REFERENCES addresses(address_id)
);

In [ ]:
%%sql
-- lets just insert a bit of data
-- and lets tone down the YELLING!


-- see what I did not do there? it is not necessary to indicate the columns you want inserted if you insert in order

In [ ]:
%%sql
-- we dont have to get everything right the first time around (though its nice to), instead we can
-- alter tables to update the information in them (the U of CRUD)

Links:

https://learn.saylor.org/mod/page/view.php?id=23144

https://learn.saylor.org/mod/page/view.php?id=23139