In [ ]:
%load_ext sql
%sql postgres://jovyan:si330studentuser@localhost:5432/si330

## More Advanced Operations!

* To get data out of the database and work with it we use the SELECT statement
* The select statement requires us at a minimum to indicate the columns we are interested in and the table we are interested in
* Base form is `SELECT cols FROM table`
* Note that the return value of the select statement is itself a relation (table)

In [ ]:
%load_ext sql
%sql postgres://jovyan:si330studentuser@localhost:5432/si330
import psycopg2
import sqlalchemy
import pandas as pd
engine = sqlalchemy.create_engine('postgres://jovyan:si330studentuser@localhost:5432/si330')

In [ ]:
%sql select first_name from person;
# we can limit this to a certain number of rows with the LIMIT clause

* Statements in SQL are terminated with a semicolon, but when we are executing them in python the library which handles the connection will generally terminate the statement for us at the end of the line
* Notice that the return relation isn't sorted. It's up to the database to determine what order the items you get are in
* Beyond this, the database can choose any ten items when you make a limit call; there is no intrinsic ordering of your results, though some database vendors may choose to do so based on recency

In [ ]:
# when you select multiple columns from a single database the results are row consistent, 
# e.g. the first name and last names align

In [ ]:
# it's common to use an * as a wildcard for any column

In [ ]:
# we can limit the results we want to return using a WHERE clouse

In [ ]:
# note the single quotes for strings in sql!
# there are two wildcard options with varchar matching in SQL:
# _ matches a single character
# % matches any number of characters
# to use these we must use the LIKE operator

# find all people who have a name which starts with Chris

* Unfortunatly, this form of string comparison is super limited. But it's pretty easy to optimize, so you should be aware of how to use it
* SQL has no regex functionality built into it :(
* (But the dirty truth is everyone loves regex so much you can use regex with a few custom functions)
* String matching is of course, case sensitive
* We can negate the like operator too with NOT

In [ ]:
# for numeric columns we can also use our regular numeric operators

In [ ]:
# SQL uses an odd syntax for not equals, the <> operator

In [ ]:
# we can chain multiple where comparisons together using AND

In [ ]:
# how would you have written the above in pandas?

In [ ]:
# another nice function in sql for ranges is BETWEEN and NOT BETWEEN (which are inclusive)

In [ ]:
# another important operator is IN, which does set comparison

### Aggregation and Subselects
In SQL, we can use aggregation functions as well.

An aggregation converts a vector into a scalar, just like in Pandas. Lots of values in, one value out.

In [ ]:
# We use these on the columns
# How many first_name rows are there in the table person?

In [ ]:
# It's more common to see people count all of the columns, functionally there is a difference but the pattern is so common
# databases return the result quickly. Of course, the length (count) of each column is the same

In [ ]:
# lots of other aggregation functions exist as you might expect

In [ ]:
# This is an interesting query, because the return table has one row, three columns, and is just a bunch of
# summary information. Remember, the return value of a select statement is always itself a table (relation)
# How might we try and get a list of all unique firstnames with a count of how many occur 
# in our dataset?

In [ ]:
%sql select count(first_name), first_name from person

In [ ]:
# This doesn't do what we want. Just like in pandas we need to tell SQL how we want to 
# group the data. once we group the data then the return result is just a combination 
# of the aggregation functions (note alias)

In [ ]:
%%sql 
select first_name as firstname_nounderscore, count(first_name) as awesome_column
from person 
group by first_name 
order by first_name
limit 5

In [ ]:
# just like in pandas we can group by multiple columns. This means we need a unique 
# combination of the two columns
# remember that cell magics (%%) must start the cell, can't have comments up top!

In [ ]:
%%sql
select first_name, last_name, count(*) as num
from person
where first_name like 'Chris%'
group by first_name, last_name
order by num desc
limit 5

In [ ]:
# ok, you've heard me say again and again that every select returns a table, and we 
# know that select statements work on tables, so why not have a select statement work on 
# a select statement result?

# These are called subselects, and it's a beautiful beautiful thing!

# ETL
* How do we get data into a database?
* There are several different patterns, and at a high level you will hear this refered to as an ETL process: extract, transform, load
* This is often used in data warehousing specifically, and is usually done as a batch process

# ETL Steps
* The first step is extraction, where we pull data out of various databases. This could be csv, json files, or other SQL databases
* The second step is to transform it. Sometimes this is aligning data structures, mapping columns, or reducing the data.
* The third part is to load it, to push it into a new data warehouse (or database) as a solution
* Overall we call the ETL process a "pipeline" (or pipelines)

<img src="https://webassets.mongodb.com/_com_assets/cms/ETL_Visual-sa656kl6df.png" width=60%/>

# ETL Thoughts
* ETL is useful in reducing dependancies in the data created for warehouses and data marts
* ETL process can help with permissions issues and heterogeoneity of data sources, especially in an increasingly json world
* ETL tools are robust and processes are well known
* At the same time, the ETL process overall can be fragile depending upon the developer building it (all it takes is one failed statement to stop a pipeline)
* ETL is slow, and the batch-nature means that the data you are looking at is often not live