## SI 330 Class 2/9

### Study Habits
 - Jamboard Activity
 - Spaced Repetition
 - Video Analytics
 - Note taking
 
**Poll Question 1 (20)**

### Reading in Tables
* While `read_csv()` is cool, `read_html()` is really cool

In [93]:
import pandas as pd
df = pd.DataFrame({'x': [1,2,3,4], 'y':['apple', 'orange', 'peach', 'mango']})
df

   x       y
0  1   apple
1  2  orange
2  3   peach
3  4   mango

In [ ]:
pd.read_html?
help(pd.read_html)

In [ ]:
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_earthquakes_in_the_United_States')
df

In [ ]:
type(df)
len(df)

In [ ]:
df[0]

### Manipulating Tables

In [ ]:
# ----------- Preprocessing ------------
#dropping NaN column 
#df = df[0]
#df = df.drop('Further information', axis=1)

#dropping unknowns 
#df.where(df['Fatalities'] != 'Unknown').dropna()
df = df[df['Fatalities'] != 'Unknown']
df.head(10)

In [ ]:
#Creating some new columns (with regex review!)
#create new column to grab year

import re
years = []
months = []
days = []
for i in df['Date']:
    results = re.findall('(\w*)\s?(\d{1,2})?,?\s(\d{4})', i)
    years.append(results[0][2])
    months.append(results[0][0])
    days.append(results[0][1])


df['Year'] = years
df['Month'] = months
df['Day'] = days

df.loc[9]['Day']

In [ ]:
#Setting indices and creating a multilevel index 
df =df.set_index('Year')
df = df.reset_index()
df = df.set_index(['Year', 'State(s)'])

In [ ]:
#df = df.reset_index()
%timeit df[(df['Year'] == '1812') & (df['State(s)'] == 'California')]

In [ ]:
#df = df.set_index(['Year', 'State(s)'])
df.loc[('1812', 'California')]

In [ ]:
%timeit df.loc[('1812', 'California')]

In [ ]:
df = df.reset_index()
df

In [ ]:
df.columns
df['States']

### Exploring Tables
**Poll Question 2 (10)**

In [ ]:
#df = df.set_index(['Year', 'State(s)'])
df.loc['1811']
df.iloc[0]['Magnitude']

In [ ]:
#Quick indexing refresher

In [ ]:
df = pd.DataFrame({'Price': [1,2,3,4], 'Product': ['apple', 'orange', 'peach', 'mango']})
df[0]

In [ ]:
#Breakout Activity, 10 min.: 
#Number of fatalities of greatest mag. earthquake in a particular state

**Poll Question 3 (10)**

### Tool Building

In [ ]:
# if time permits

### End Matter

- Data Dictionaries
- HW Preview & New Submission Process
- Lab (Zoom)